<div class="form-group search-section">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"
        ><i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </div>
    <input
      id="path"
      type="text"
      class="form-control"
      placeholder="Path"
      ng-change="updateList()"
      ng-model="search"
    />
  </div>
</div>

<div ng-repeat="path in paths">
  <div class="line-separator my-4"></div>
  <div class="path-container my-4" path="path"></div>
</div>
