<form name="requestForm" novalidate ng-submit="sendRequest()">
  <!--************************responsable for showing the controller*********************************-->
  <method-controller controller="endpoint.methodInfo"></method-controller>

  <!--************************responsable for showing the method descriptions*********************************-->
  <method-descriptions
    descriptions="endpoint.methodInfo.descriptions"
  ></method-descriptions>

  <!--*************************responsable for showing the method headers********************************-->
  <methode-headers headers="endpoint.methodInfo.headerInfos"></methode-headers>

  <!--*************************responsable for showing the request parametres********************************-->
  <div class="mapping-element">
    <div class="mapping-label-container">
      <p>Parameters</p>
    </div>

    <div
      ng-if="endpoint.methodInfo.params.length==0"
      class="mapping-value-container"
    >
      <i>This method has no parameters.</i>
    </div>

    <div
      ng-if="endpoint.methodInfo.params.length>0"
      class="mapping-value-container"
    >
      <div
        ng-repeat="param in pathParams"
        class="row mb-2 border-bottom"
        param-value
        param="param"
      ></div>

      <div
        ng-repeat="param in requestParams"
        class="row mb-2 border-bottom"
        param-value
        param="param"
      ></div>

      <div
        ng-if="requestBody"
        class="row mb-2 border-bottom"
        param-value
        param="requestBody"
      ></div>
    </div>
  </div>

  <div
    class="form-group d-flex flex-row flex-wrap justify-content-end align-items-center mb-4"
  >
    <div ng-if="endpoint.method !== 'GET'">
      <button class="btn btn-primary" type="submit" ng-disabled="loading">
        {{sendText}} {{sendButtonTimer}}
      </button>
    </div>

    <div ng-if="endpoint.method === 'GET'">
      <div class="input-group-prepend">
        <button class="btn btn-primary" type="submit" ng-disabled="loading">
          {{sendText}} {{sendButtonTimer}}
        </button>

        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="caret"></span>&nbsp;
        </button>
        <ul class="dropdown-menu">
          <li
            ng-repeat="(key, option) in sendOptions"
            ng-click="selectOption(key)"
            class="dropdown-item"
          >
            <a href="javascript:void(0);">{{option}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--*************************responsable for showing the method response********************************-->
  <method-returns response="response"></method-returns>

  <!--******************************responsable for showing the return status***************************-->
  <return-status status="endpoint.methodInfo.returnStatus"></return-status>
</form>
