<form
	name="requestForm"
	novalidate
	ng-submit="sendRequest()"
>

	<div class="form-group">
		<label>Controller Method</label>
		<div>
			{{endpoint.methodInfo.className}}.{{endpoint.methodInfo.methodName}}
		</div>
	</div>
	<div class="form-group">
		<label>Description</label>
		<div ng-if="endpoint.methodInfo.descriptions.length == 0">
			<i>This method has no description</i>
		</div>
		<div ng-if="endpoint.methodInfo.descriptions.length > 0" class="well well-sm">
			<div ng-repeat="description in endpoint.methodInfo.descriptions track by $index">
				<p markdown="description">
				</p>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label><i class="glyphicon glyphicon-list"> </i>  Headers</label>
		<div ng-if="endpoint.methodInfo.headerInfos.length==0">
			<i>This method has no headers.</i>
		</div>
		<div ng-if="endpoint.methodInfo.headerInfos.length>0">
			<table class="table table-compact">
				<tbody ng-repeat="headerInfo in endpoint.methodInfo.headerInfos track by $index">
					<tr>
						<td width="15%">
							<span class="label label-info">{{headerInfo.name}}</span>
						</td>
						<td>
							{{headerInfo.description}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="form-group">
		<label><i class="glyphicon glyphicon-chevron-right"> </i>  Parameters</label>
		<div ng-if="endpoint.methodInfo.params.length==0">
			<i>This method has no parameters.</i>
		</div>
		<div ng-if="endpoint.methodInfo.params.length>0">
			<table class="table table-compact">
				<tbody>
					<tr
						ng-repeat="param in pathParams"
						param-value
						param="param"
					></tr>
					<tr
						ng-repeat="param in requestParams"
						param-value
						param="param"
					></tr>
					<tr
						ng-if="requestBody"
						param-value
						param="requestBody"
					></tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="form-group">
		<button
			class="btn btn-primary pull-right"
			type="submit"
			ng-disabled="loading"
		>
			Send
		</button>
	</div>
	<div class="form-group">
		<label><i class="glyphicon glyphicon-chevron-left"> </i>  Returns</label>
		<div ng-show="response.type === 'void'">
			<i>This method does not return anything</i>
		</div>
		<div>
			<table class="table table-compact">
				<tr
					param-value
					param="response"
				></tr>
			</table>
		</div>
	</div>
	<div class="form-group">
		<label>Return Status</label>
		<table class="table table-compact">
			<tr ng-repeat="returnStatus in endpoint.methodInfo.returnStatus">
				<td width="15%">
					<button
						class="btn btn-sm btn-success"
						type="button"
						ng-class="{'btn-info' : returnStatus.status > 299, 'btn-warning' : returnStatus.status > 399, 'btn-danger' : returnStatus.status > 499}"
					>
						{{returnStatus.status}}
					</button>
				</td>
				<td>
					{{returnStatus.name}}
				</td>
				<td>
					{{returnStatus.description}}
				</td>
			</tr>
		</table>
	</div>
</form>
