<div class="row">
  <div class="col-lg-12 form-group">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>

        <input
          type="text"
          class="form-control"
          placeholder="Paths"
          ng-change="updateList()"
          ng-model="search"
        />
      </div>
    </div>
  </div>
</div>

<div class="row paths-container">
  <div class="row" ng-repeat="path in paths">
    <div class="col-12 line-separator"></div>
    <div class="col-12 path-container" path="path"></div>
  </div>
</div>
