<div class="mapping-element">
  <div class="mapping-label-container">
    <p>Headers</p>
  </div>

  <div ng-if="headers.length==0" class="mapping-value-container">
    <p>This method has no headers.</p>
  </div>

  <div ng-if="headers.length>0" class="mapping-value-container">
    <div ng-repeat="header in headers track by $index" class="row">
      <div class="col-lg-2">
        <h5>
          <span class="badge badge-primary">{{header.name}}</span>
        </h5>
      </div>

      <div class="col">
        <p>
          {{header.description}}
        </p>
      </div>
    </div>
  </div>
</div>
