<div class="mapping-element">
  <div class="mapping-label-container">
    <p>Description</p>
  </div>

  <div ng-if="descriptions.length == 0" class="mapping-value-container">
    <p>This method has no description</p>
  </div>

  <div ng-if="descriptions.length > 0" class="card mapping-value-container">
    <ul class="list-group list-group-flush">
      <li
        ng-repeat="description in descriptions track by $index"
        markdown="description"
        class="list-group-item"
      ></li>
    </ul>
  </div>
</div>
