
	<div class="form-group" ng-repeat="param in endpoint.methodInfo.params">
		<label>{{param.name}}</label>
		<div ng-if="param.collection">
			<i class="glyphicon glyphicon-plus" ng-click="data[param.name].push('')"> </i>
			<div ng-repeat="d in data[param.name]">
				{{d}}
			</div>
			<input class="form-control" ng-model="">
		</div>
		<div ng-if="!param.collection">
			<input class="form-control" ng-model="data[param.name]">
		</div>
	</div>
<pre>{{data | json}}</pre>
<div class="form-group">
	<button
		class="btn btn-primary"
		ng-click="sendRequest()"
	>
		Send
	</button>
</div>
<pre>{{apiResponse | json}}</pre>
<pre>{{endpoint | json}}</pre>

