<div class="mapping-element">
  <div class="mapping-label-container">
    <p>Returns</p>
  </div>

  <div ng-show="response.type === 'void'" class="mapping-value-container">
    <p>This method does not return anything</p>
  </div>

  <div class="mapping-value-container mb-5">
    <div class="row">
      <div ng-if="response.paramType === 'RETURN'" class="col-12 col-lg-2">
        <h5>
          <span class="badge badge-primary">{{response.paramType}}</span>
        </h5>
      </div>

      <div ng-if="response.paramType === 'RETURN'" class="col-12 col-lg-10">
        <!--return code-->
        <div ng-if="response.status" class="row mb-4">
          <div class="col-lg-4">
            <h5>
              <span
                class="badge badge-success"
                ng-class="{
                  'badge-info': response.status > 299,
                  'badge-warning': response.status > 399,
                  'badge-danger': response.status > 499
                }"
              >
                {{response.status}}
              </span>
            </h5>
          </div>
          <div class="col">
            <p>
              {{response.message}}
            </p>
          </div>
        </div>

        <!--return headers-->
        <div ng-if="response.headers" class="mb-4">
          <div
            class="row border-bottom mb-2"
            ng-repeat="header in response.headers"
          >
            <div class="col-12 col-lg-4">
              <p class="strong-text">
                {{header.name}}
              </p>
            </div>

            <div class="col">
              <p>
                {{header.value}}
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <!--return body structur-->
          <div class="col-12 col-lg-6 mb-4">
            <div ng-show="response.type != 'void'" class="card bg-light">
              <div class="card-header">
                Response structure
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  {{response.display.type}}<span ng-if="response.collection"
                    >[]</span
                  >
                </h5>
                <pre class="card-text">
{{response.type !== 'void' ? (response.object | json) : ''}}</pre
                >
              </div>
            </div>
          </div>

          <!--return body-->
          <div class="col-12 col-lg-6 mb-4">
            <div param-value-edit param="response"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
