<div ng-if="param.collectionValues">
  <!-- Parameter could appear > 1 time, repeatable input for string, number -->
  <div class="input-group" ng-repeat="value in param.collectionValues track by $index">
    <input
      class="form-control"
      disabled
      type="text"
      ng-model="value"
      ng-required="param.required"
    >
    <span class="input-group-btn">
      <button
        class="btn btn-danger"
        type="button"
        ng-click="removeValue($index)"
      >
      <span
        class="glyphicon glyphicon-remove"
        style="line-height: inherit;"
      ></span>
      </button>
    </span>
  </div>
  <div class="input-group">
    <input
      class="form-control"
      type="text"
      ng-class="param.required && !param.collectionValues.length ? 'border-red' : ''"
      ng-model="param.newValue"
    >
    <span class="input-group-btn">
      <button
        class="btn btn-primary"
        type="button"
        ng-click="addValue()"
      >
        <span
          class="glyphicon glyphicon-plus"
          style="line-height: inherit;"
        ></span>
      </button>
    </span>
  </div>
</div>

<div ng-if="!param.collectionValues">
  <div ng-if="param.display.editType === 'file'">
    <!-- Parameter appears at most 1 time, for file upload -->
    <div class="row">
      <div class="col-md-3">
        <button
          class="btn btn-primary"
          type="button"
          ng-click="triggerSelectFile()"
        >
          Select file
        </button>
        <input
          class="hidden"
          name="file"
          type="file"
        >
      </div>
      <div class="col-md-9">
        <span>{{fileName}}</span>
      </div>
    </div>
  </div>

  <div ng-if="param.display.editType === 'input'">
    <!-- Parameter appears at most 1 time, an input for string, number, true/false boolean strings -->
    <input
      class="form-control"
      type="text"
      ng-model="param.value"
      ng-required="param.required"
      ng-if="!param.secret"
    >
    <input
      class="form-control"
      type="password"
      ng-model="param.value"
      ng-required="param.required"
      ng-if="param.secret"
    >
  </div>

  <div ng-if="param.display.editType === 'textarea'">
    <!-- Parameter appears at most 1 time, an input for stringified object -->
    <textarea
      rows="20"
      class="form-control"
      style="
        font-family: Menlo,Monaco,Consolas,'Courier New',monospace;
        font-size: 13px;
        min-height: 70px;
      "
      ng-blur="updateBody()"
      ng-model="param.value"
      ng-required="param.required"
    ></textarea>
  </div>

  <div ng-if="param.display.editType === 'select'">
    <!-- Parameter appears at most 1 time, only a handful of values (> 1) should be used -->
    <select
      class="form-control"
      ng-model="param.value"
      ng-options="value for value in param.values"
      ng-required="param.required"
    >
      <option value="">-- Please select --</option>
    </select>
  </div>

</div>
