
<td style="width: 15%">
  <span class="label label-info">
    {{param.paramType}}
  </span>
</td>
<td>

  <!-- for RETURN parameters -->
  <div ng-if="param.paramType === 'RETURN'">
    <div class="row">
      <div class="col-md-6">
        {{param.display.type}}<span ng-if="param.collection">[]</span><br>
        <br>
      </div>
      <div class="col-md-6">
        <table
          ng-if="param.status"
        >
          <tbody>
            <tr>
              <td style="width: 1%">
                <span
                  class="label label-success"
                  style="top: 0; vertical-align: top;"
                  ng-class="{
                    'label-info': param.status > 299,
                    'label-warning': param.status > 399,
                    'label-danger': param.status > 499
                  }"
                >
                  {{param.status}}
                </span>
              </td>
              <td>
                <span>{{param.message}}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <table class="table table-compact" ng-if="param.headers">
          <tr ng-repeat="header in param.headers">
            <td>
              {{header.name}}
            </td>
            <td>
              {{header.value}}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <pre>{{param.type !== 'void' ? (param.object | json) : ''}}</pre>
      </div>
      <div class="col-md-6">
        <div
          param-value-edit
          param="param"
        >
        </div>
      </div>
    </div>
  </div>

  <!-- for primitive parameters, request paramters, and file uploads -->
  <div
    class="row"
    ng-if="param.paramType !== 'RETURN' && param.display.editType !== 'textarea'"
  >
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-4">
          <strong>{{param.name}}</strong>
          <span
            class="text-red"
            ng-if="param.required"
          > *</span>
          <br>
          <small>{{param.display.type}}<span ng-if="param.typeInfo.array">[]</span></small>
        </div>
        <div class="col-sm-8">
          <div ng-if="param.descriptions.length">
            <div ng-repeat="description in param.descriptions track by $index">
              <p markdown="description">
              </p>
            </div>
          </div>
          <div ng-if="param.values">Values: {{param.values | json}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        param-value-edit
        param="param"
      >
      </div>
    </div>
  </div>

  <!-- for editable object parameters -->
  <div ng-if="param.paramType !== 'RETURN' && param.display.editType === 'textarea'">
    <div class="row">
      <div class="col-md-6">
        {{param.display.type}}<span ng-if="param.collection">[]</span><br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <pre>{{param.object | json}}</pre>
      </div>
      <div class="col-md-6">
        <div
          param-value-edit
          param="param"
        >
        </div>
      </div>
    </div>
  </div>

</td>
