<div class="col-12 col-lg-2">
  <p>
    <span class="badge badge-primary">
      {{param.paramType}}
    </span>
  </p>
</div>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<div
  ng-if="param.paramType !== 'RETURN' && param.display.editType !== 'textarea'"
  class="col-12 col-lg-10"
>
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="row">
        <div class="col-12 col-lg-5">
          <p class="strong-text">
            {{param.name}}<span ng-if="param.required" class="text-red">*</span>
          </p>
          <p>
            {{param.display.type}}<span ng-if="param.typeInfo.array">[]</span>
          </p>
        </div>
        <div class="col-12 col-lg-7">
          <div ng-if="param.descriptions.length">
            <p
              ng-repeat="description in param.descriptions track by $index"
              markdown="description"
              class="alert alert-primary"
            ></p>
          </div>

          <div
            ng-if="param.values"
            class="card bg-light mb-3 return-structure-container"
          >
            <div class="card-body">
              <h5 class="card-title">Values</h5>
              <pre class="card-text">{{param.values | json}}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div param-value-edit param="param"></div>
    </div>
  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<div
  class="col-12 col-lg-11"
  ng-if="param.paramType !== 'RETURN' && param.display.editType === 'textarea'"
>
  <div>
    <p>{{param.display.type}}<span ng-if="param.collection">[]</span><br /></p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <pre>{{param.object | json}}</pre>
      </div>
      <div class="col-12 col-lg-6">
        <div param-value-edit param="param"></div>
      </div>
    </div>
  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!--
<div class="col-md-11" ng-if="param.paramType === 'RETURN'" class="container">
  <div class="row">
    <div class="col-md-6">
      <p>
        {{param.display.type}}<span ng-if="param.collection">[]</span><br />
      </p>
    </div>
    <div class="col-md-6">
      <div class="row" ng-if="param.status">
        <div class="col-md-3">
          <p>
            <span
              class="label label-success"
              ng-class="{
                    'label-info': param.status > 299,
                    'label-warning': param.status > 399,
                    'label-danger': param.status > 499
                  }"
            >
              {{param.status}}
            </span>
          </p>
        </div>
        <div class="col-md-9">
          <p>
            {{param.message}}
          </p>
        </div>
      </div>

      <div class="row" ng-if="param.headers">
        <div class="col-lg-12" ng-repeat="header in param.headers">
          <div class="row">
            <div class="col-md-3">
              <p class="strong-text">
                {{header.name}}
              </p>
            </div>

            <div class="col-md-9">
              <p>
                {{header.value}}
              </p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <pre>{{param.type !== 'void' ? (param.object | json) : ''}}</pre>
    </div>
    <div class="col-md-6">
      <div param-value-edit param="param"></div>
    </div>
  </div>
</div>
-->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
