<div class="col-12 col-lg-2">
  <h5>
    <span class="badge badge-primary">
      {{param.paramType}}
    </span>
  </h5>
</div>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<div
  ng-if="param.paramType !== 'RETURN' && param.display.editType !== 'textarea'"
  class="col-12 col-lg-10"
>
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="row">
        <div class="col-12 col-lg-6">
          <p class="strong-text">
            {{param.name}}<span ng-if="param.required" class="text-red">*</span>
          </p>
          <p>
            {{param.display.type}}<span ng-if="param.typeInfo.array">[]</span>
          </p>
        </div>
        <div class="col-12 col-lg-6">
          <div ng-if="param.descriptions.length">
            <p
              ng-repeat="description in param.descriptions track by $index"
              markdown="description"
              class="alert alert-primary"
            ></p>
          </div>

          <div
            ng-if="param.values"
            class="card bg-light mb-3 return-structure-container"
          >
            <div class="card-body">
              <h5 class="card-title">Values</h5>
              <pre class="card-text">{{param.values | json}}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div param-value-edit param="param"></div>
    </div>
  </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<div
  class="col-12 col-lg-10"
  ng-if="param.paramType !== 'RETURN' && param.display.editType === 'textarea'"
>
  <div class="row mb-4">
    <!--param body structur-->
    <div class="col-12 col-lg-6 mb-2">
      <div class="card bg-light h-100">
        <div class="card-header">
          Request body structure
        </div>
        <div class="card-body">
          <h5 class="card-title">
            {{param.display.type}}<span ng-if="param.collection">[]</span>
          </h5>
          <pre class="card-text">{{param.object | json}}</pre>
        </div>
      </div>
    </div>

    <!--param body-->
    <div class="col-12 col-lg-6 mb-2">
      <div param-value-edit param="param"></div>
    </div>
  </div>
</div>
