<!-- path path and arrow -->
<div
  class="path-container-header d-flex flex-row flex-wrap justify-content-between align-items-start"
>
  <div class="path-container-path">
    <h3 ng-click="selectMethod('none')">
      {{path.path}}
    </h3>
  </div>

  <div class="path-container-arrow cursor-pointer">
    <div ng-click="selectMethod('none')">
      <i
        ng-if="mappings.length == 0"
        class="fa fa-arrow-right"
        aria-hidden="true"
      ></i>

      <i
        ng-if="mappings.length > 0"
        class="fa fa-arrow-down"
        aria-hidden="true"
      ></i>
    </div>
  </div>
</div>

<!-- methods buttons -->
<div
  class="methods-btn-container d-flex flex-row flex-wrap justify-content-center justify-content-lg-start align-items-center mb-4"
>
  <div class="m-2" ng-repeat="method in path.methods">
    <button
      class="btn"
      ng-click="selectMethod(method)"
      ng-class="{
				'btn-success': method === 'GET',
				'btn-danger': method === 'DELETE',
				'btn-primary': method === 'POST',
				'btn-info': method === 'PUT',
				'btn-light': method === 'OPTIONS',
        'active' : method == selectedMethod
			}"
    >
      {{method}}
    </button>
  </div>
</div>

<div class="mappings-container" ng-repeat="mapping in mappings">
  <div class="mapping-container" endpoint="mapping"></div>
</div>
