
/* Change bootstrap start */
.form-group {
	padding-top: 10px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-top-width: 0;
}

.glyphicon-exclamation-sign {
	top: 4px;
}

.label {
	position: relative;
	top: 5px;
}
/* Change bootstrap end */

.border-red,
input.ng-invalid,
textarea.ng-invalid
{
	border: 1px solid red;
}
