/* general css */
.border-red,
input.ng-invalid,
select.ng-invalid,
textarea.ng-invalid {
  border: 1px solid red;
}

.text-red {
  color: red;
}

.line-separator {
  background-color: #000000;
  height: 2px;
}

.strong-text {
  font-weight: 700;
}

p,
pre {
  word-break: break-word;
}

textarea {
  min-height: 70px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}
/* end general css */

/* mappings */
.mapping-element {
  margin-bottom: 24px;
}

.mapping-label-container {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 1.25rem;
}

/* end mappings */
