<div class="col-md-12">
	<div class="input-group">
		<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
		<input ng-change="updateList()" ng-model="search" class="form-control">
	</div>
</div>
<div class="col-md-12">
	<div>
		<ul class="nav nav-tabs">
		  <li role="presentation" ng-click="selected = 'endpoints'" ng-class="{'active' : selected == 'endpoints'}"><a>Enpoints</a></li>
		  <li role="presentation" ng-click="selected = 'paths'" ng-class="{'active' : selected == 'paths'}"><a>Paths</a></li>
		  <li role="presentation" ng-click="selected = 'entities'" ng-class="{'active' : selected == 'entities'}"><a>Entities</a></li>
		</ul>
	</div>
	<div ng-if="selected == 'endpoints'" ng-repeat="endpoint in endpoints"  style="padding-bottom: 30px;">
		<div>
			<h3>
				<button ng-repeat="method in endpoint.methods" class="btn" ng-class="{'btn-success': method == 'GET', 'btn-danger': method == 'DELETE', 'btn-primary': method == 'POST', 'btn-info': method == 'PUT'}">{{method}}</button>
				{{endpoint.pattern}}
			</h3>
		</div>
		<div endpoint="endpoint">
		</div>
	</div>
	<div ng-if="selected == 'paths'"> 
		<div ng-repeat="path in paths"  style="padding-bottom: 30px;">
			<div path="path">
			</div>
		</div>
	</div>
</div>