<div class="col-md-6">
</div>
<div class="col-md-6">
	<div class="input-group">
		<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
		<input ng-change="updateList()" ng-model="search" class="form-control">
	</div>
</div>
<div class="col-md-12">
<hr>
</div>
<div class="col-md-6">
	<div ng-if="selectedEndpoint" endpoint="selectedEndpoint">
	</div>
</div>
<div class="col-md-6">
	<div ng-repeat="endpoint in endpoints"  style="padding-bottom: 30px;">
		<div endpoint="endpoint">
		</div>
	</div>
</div>