	<div>
		<i class="pull-right glyphicon" ng-class="{'glyphicon-eye-open' : details, 'glyphicon-eye-close' : !details }" ng-click="details = !details" style="margin: 5"></i>
		<i class="pull-right glyphicon glyphicon-play" ng-click="select()" style="margin: 5"></i>
	</div>
	<div class="form-group">
		<label>Controller Method</label>
		<div>
			{{endpoint.methodInfo.className}}.{{endpoint.methodInfo.methodName}}
		</div>
	</div>
	<div class="form-group">
		<label>Description</label>
		<div ng-if="endpoint.methodInfo.descriptions.length == 0">
			<i>This method has no description</i>
		</div>
		<div ng-if="endpoint.methodInfo.descriptions.length > 0" class="well well-sm">
			<div ng-repeat="description in endpoint.methodInfo.descriptions">
				<p markdown="description">
				</p>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label><i class="glyphicon glyphicon-chevron-right"> </i>  Parameters</label>
		<div ng-if="endpoint.methodInfo.params.length==0">
			<i>This method has no parameters.</i>
		</div>
		<div ng-if="endpoint.methodInfo.params.length>0">
			<table class="table table-compact">
				<tbody ng-repeat="param in endpoint.methodInfo.params">
					<tr>
						<td width="15%">
							<button class="btn btn-sm btn-default">{{param.paramType}}</button>
						</td>
						<td>	
							<i class="glyphicon glyphicon-exclamation-sign" ng-if="param.required"></i>
						</td>
						<td>	
							{{param.name}}
						</td>
						<td>	
							{{param.typeShort}}<span ng-if="param.collection">[]</span>
						</td>
						<td>
							<div ng-if="param.description" markdown="param.description">
							</div>
						</td>
					</tr>
					<tr ng-show="!param.primitive && details">
						<td colspan="5"><pre>{{param.object | json}}</pre></td>
					</tr>
				</tbody>
			</table>	
		</div>
	</div>
	<div class="form-group">
		<label><i class="glyphicon glyphicon-list"> </i>  Headers</label>
		<div ng-if="endpoint.methodInfo.headerInfos.length==0">
			<i>This method has no headers.</i>
		</div>
		<div ng-if="endpoint.methodInfo.headerInfos.length>0">
			<table class="table table-compact">
				<tbody ng-repeat="headerInfo in endpoint.methodInfo.headerInfos">
					<tr>
						<td width="15%">
							<button class="btn btn-sm btn-default">{{headerInfo.name}}</button>
						</td>
						<td>	
							{{headerInfo.description}}
						</td>
					</tr>
				</tbody>
			</table>	
		</div>
	</div>
	<div class="form-group">
		<label><i class="glyphicon glyphicon-chevron-left"> </i>  Returns</label>
		<div ng-if="endpoint.methodInfo.returnType.type=='void'">
			<i>This method does not return anything</i>
		</div>
		<div ng-if="endpoint.methodInfo.returnType.type!='void'">
			<table class="table table-compact">
				<tr>
					<td width="15%">
						<button class="btn btn-sm btn-default">{{endpoint.methodInfo.returnType.paramType}}</button>
					</td>
					<td>	
						{{endpoint.methodInfo.returnType.typeShort}}<span ng-if="endpoint.methodInfo.returnType.collection">[]</span>
					</td>
				</tr>
				<tr ng-show="details">
					<td colspan="2"><div ng-if="details"></div><pre>{{endpoint.methodInfo.returnType.object | json}}</div></pre></td>
				</tr>
			</table>	
		</div>
	</div>	
	<div class="form-group">
		<label>Return Status</label>
		<table class="table table-compact">
			<tr ng-repeat="returnStatus in endpoint.methodInfo.returnStatus">
				<td width="15%">
					<button class="btn btn-sm btn-success" ng-class="{'btn-info' : returnStatus.status > 299, 'btn-warning' : returnStatus.status > 399, 'btn-danger' : returnStatus.status > 499}">{{returnStatus.status}}</button>
				</td>
				<td>	
					{{returnStatus.name}}
				</td>
				<td>	
					{{returnStatus.description}}
				</td>
			</tr>
		</table>	
	</div>	
	