	<div>
		<h3>
			{{path.path}}
		</h3>
		<i class="pull-right glyphicon" ng-class="{'glyphicon-eye-open' : details, 'glyphicon-eye-close' : !details }" ng-click="details = !details" style="margin: 5"></i>
	</div>
	<div>
		<button ng-click="selectMethod(method)" ng-repeat="method in path.methods" class="btn" ng-class="{'btn-success': method == 'GET', 'btn-danger': method == 'DELETE', 'btn-primary': method == 'POST', 'btn-info': method == 'PUT', 'active' : method == selectedMethod}" style="margin: 5px">{{method}}</button>	
	</div>
	<div>
		<div ng-repeat="mapping in mappings"  style="padding-bottom: 30px;">
			<div endpoint="mapping">
		</div>
	</div>
	